node_modules/
02-frontend/node_modules/
__pycache__/
.pytest_cache/
.ruff_cache/
.vercel/
.dist/
.coverage
*.pyc

02-frontend/dist/
02-frontend/.vercel/
03-backend/logs/
03-backend/__pycache__/
03-backend/.ruff_cache/
**/__pycache__/
.lighthouseci/
coverage/
htmlcov/
04-tests/__pycache__/
*.log
.vercel
.env*
